body {
    background-color: #a28089;
    color: white;
    width: 80vw;
}

header {
    margin: 0;
    border-color: #ffa8b6;
    position: fixed;
    width: 100%;
}
nav {
    background-color: #ffa8b6;
    text-align: right;
    padding: 2vw;
}

/*.content {
    padding: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}*/

#projects {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

.familyimg, #pimg {
    width: 25vw;
}

#pimg {
    width: 45vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa8b6;
    margin: 0;
    padding: 0;
}
