body {
    background-color: #a28089;
    background-image: url(/images/Lifeisabeach.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    
   
    color: white;
    padding-left: 10vw;   
}

header {
    background-color: #ffa8b6;
    font-size: 1.5em;
    position: sticky;
    top:0;
    width: 80%;
    
    padding-left: 10%;
    padding: 2.5%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-content: center;   
}

main {
    padding-top: 7vh;
}

/* nav {
    padding-right: 5vw;
    position: sticky;
    
} */

img {
    width: 75%;
}

footer {
    text-align: center;

}

button {
    animation: toabout 2.5s, 5s, 1s timing-function delay iteration-count direction fill-mode;
}