body {
    background-color: #a28089;
    color: white;
    padding-left: 10vw;
    font-family: comic sans, cursive;
    font-size: .75em;

    
}

header, footer {
    background-color: #ffa8b6;
    font-size: 1.5em;
    position: fixed;
    width: 80%;
    padding-left: 10%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 1vw;

}

nav {
    padding-right: 5vw;
}

main {
    padding-top: 7vh;
}

img {

    border-radius: 17px;
}




footer {
    text-align: center;

}
.specialthanks {
    display: flex;
    flex-direction: column;   
}

.specialthanks img {
    width: 45vw;
    justify-content: center;
    align-items: center;
}


/* .familyimg, #pimg {
    width: 20vw;
}

#pimg {
    width: 45vw;
} */

footer {
    text-align: center;

}