hb-avatar img {
    width: 200vw;
    
}
hb-avatar label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;

}
hb-avatar input, hb-avatar button {
    padding: .5em .6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1 px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: helvetica, Arial, sans-serif;
    letter-spacing: .01em;
    overflow: visible;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    /* cursor: pointer; */
    background-color: #ffa8b6;
}

hb-checkout {
    
}
