

body {
    background-color: #a28089;
    color: white;
    padding-left: 10vw;
    font-family: comic sans, cursive;
    font-size: .75em;
    
}

header, footer {
    background-color: #ffa8b6;
    font-size: 1.5em;
    position: fixed;
    width: 80%;
    padding-left: 10%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 1vw;

}

nav {
    padding-right: 5vw;
}

main {
    padding-top: 7vh;
}3




footer {
    text-align: center;

}

hb-account-verify button, hb-account-email button, hb-account-password button, hb-account-username button, hb-account-delete button  {
    background-color: #ffa8b6;
    color: #fff;
    text-shadow: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    font-style: normal;
    text-align: center;
}

 